<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Film</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container" style="margin-top: 50px;">


    <div class="card">
        <div class="card-header">
            Add Film
        </div>
        <div class="card-body">
            <form action="/film/add" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Origin Name:</label>
                    <input type="text" class="form-control" name="originName" value="<%= originName %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Content:</label>
                    <input type="text" class="form-control" name="content" value="<%= content %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Type:</label>
                    <input type="text" class="form-control" name="type" value="<%= type %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Status:</label>
                    <input type="text" class="form-control" name="status" value="<%= status %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Time:</label>
                    <input type="text" class="form-control" name="time" value="<%= time %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Espisode Current:</label>
                    <input type="text" class="form-control" name="episodeCurrent" value="<%= episodeCurrent %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Espisode Total:</label>
                    <input type="text" class="form-control" name="episodeTotal" value="<%= episodeTotal %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Quality:</label>
                    <input type="text" class="form-control" name="quality" value="<%= quality %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Lang:</label>
                    <input type="text" class="form-control" name="lang" value="<%= lang %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Slug:</label>
                    <input type="text" class="form-control" name="slug" value="<%= slug %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Year:</label>
                    <input type="text" class="form-control" name="year" value="<%= year %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Country:</label>
                    <input type="text" class="form-control" name="country" value="<%= country %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Name Actor:</label>
                    <input type="text" class="form-control" name="nameActor" value="<%= nameActor %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Name Director:</label>
                    <input type="text" class="form-control" name="nameDirector" value="<%= nameDirector %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Category:</label>
                    <input type="text" class="form-control" name="category" value="<%= category %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Name Server:</label>
                    <input type="text" class="form-control" name="nameServer" value="<%= nameServer %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Espisode:</label>
                    <input type="text" class="form-control" name="espisode" value="<%= espisode %>" autocomplete="off">
                </div>
                <!-- <form action="/film/add" method="post" enctype="multipart/form-data"> -->
                <div class="form-group">
                    <label>Thumb Url:</label>
                    <input type="file" class="form-control" name="thumbUrl" value="<%= thumbUrl %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Link:</label>
                    <input type="file" class="form-control" name="file" value="<%= file %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add" />
                </div>
                <!-- </form> -->
            </form>
        </div>
    </div>

</body>

</html>